*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 40em) {
    font-size: 55%;
  }
  @media only screen and (max-width: 28em) {
    font-size: 45%;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-primary);
  height: 100svh;
  color: var(--color-font-display);
  position: relative;
}

button {
  border: none;
  background-color: transparent;
  &:focus {
    outline: 1px solid var(--color-theme);
    outline-offset: 3px;
    border-radius: 23rem;
  }
}

.header {
  &__logo {
    width: 15.3rem;
    height: 3.2rem;
    fill: #d7e0ff;
  }
}

.hidden {
  display: none;
}
